* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.navbar {
    background-color: rgba(17, 69, 212, 0.765);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    border-radius: 2px;
}

.logo {
    font-size: x-large;
    font-weight: 700;
    padding: 22px;
}

.logo a{
    color: azure;
}

.menu a:hover {
    background-color: rgb(17, 69, 173);
    border-radius: 15px;
    color: orange;
}

.menu a:active {
    background-color: rgb(17, 69, 173);
    border-radius: 15px;
    color: orange;
}

.align {
    padding-bottom: 35px;
    padding-top: 35px;
    margin-top: 15px;
}

li {
    display: inline-block;
    padding-right: 40px;
}

li a{
    color: aliceblue;
    padding: 15px;
    font-weight: 700;
}


main {
    text-align: center;
    padding: 40px;
    background-image: url(image.jpg);
    height: 71.7vh;
    background-position: center;
    color: white;
    border-radius: 2px;
    background-color: rgba(73, 64, 64, 0.5);
    background-blend-mode: multiply;
}

.plat {
    padding-top: 35px;
    padding-bottom: 25px;
}
.align {
    padding-bottom: 35px;
}


h3{
    font-size: 30px;
    width: 350px;
    background-color: rgb(239, 129, 19);
    color: white;
    margin: 70px 400px;
    padding: 10px;
    border-radius: 10px;
}

footer {
    padding: 10px;
    color: aliceblue;
    text-align: center;
    background-color: rgba(17, 69, 212, 0.765);
    border-radius: 2px;
}





