* { 
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-color: rgba(45, 43, 39, 0.021);
    background-blend-mode: multiply;
    
}


.navbar {
    background-color: rgb(17, 69, 212);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 58px;
    width:  100%;
    top: 0;
    bottom: 0;
    border-radius: 2px;
}

.logo {
    font-size: x-large;
    font-weight: 700;
    padding: 22px;
}

.logo a{
    color: azure;
}

.menu a:hover {
    background-color: rgb(17, 69, 173);
    border-radius: 15px;
    color: orange;
}

.menu a:active {
    background-color: rgb(17, 69, 173);
    border-radius: 15px;
    color: orange;
}

li {
    display: inline-block;
    padding-right: 40px;
}

li a{
    color: aliceblue;
    padding: 15px;
    font-weight: 700;
}

.align {
    padding-bottom: 35px;
    padding-top: 35px;
    margin-top: 15px;
}


.main {
    text-align: center;
    margin: 110px 70px 40px 70px;
    padding: 30px;
    background-color:#32383d5b;
    background-blend-mode: multiply;
    border-radius: 30Px;
    height: 100%;
    color: white;
}

.plat {
    padding: 30px  15px 15px 25px;
}
.align {
    padding: 18px 60px 15px;
}

h1 {
    font-size: 70px;
    font-weight: 700;
}

h3{
    font-size: 30px;
    width: 350px;
    background-color: rgb(239, 129, 19);
    color: white;
    margin: 40px 400px;
    padding: 10px;
    border-radius: 10px;
}

footer {
    padding: 5px;
    width: 100%;
    top:600px;
    right: 0;
    position: fixed;
    color: aliceblue;
    text-align: center;
    background-color: rgb(17, 69, 212);
    border-radius: 2px;
 
}





